body,
article,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto;400');
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #5377d7;
}

#container {
    display: flex;
    background: url(pics/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    transition: all .5s ease;
}

#clock {
    font-size: 10em;
    width: fit-content;
    align-self: center;
    color: white;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    /*box-shadow: rgba(28, 27, 24, 0.5) 0px 5px 14px 0px;*/
    background: rgba(255,255,255, .2);
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 16px 33px;
    text-decoration: none;
    text-align: center;
    align-self: center;
    margin: 20px;
    transition: all .3s ease;
}

.manipulation{
    /* border: 1px solid white;*/
    margin: 5px;
    padding: 10px;
    background: rgba(255,255,255, .1);
    text-justify: center;
    text-align: center;

    min-width: 150px;

    transition: all .3s ease;

    cursor: pointer;
    color: white;
    align-self: center;
}

.paused{
    background: rgba(255,255,255, .3);
    /* color: black;*/
}

.greenbg{
    background: rgba(51,232,128, .5);
}

.playbg{
    background: url(pics/bgGame.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}

.workbg{
    background: url(pics/bg.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}

@media only screen and (max-width: 1000px) {
    body{
        font-size: 1.7em;
    }

    .button{
        font-size: 1.3em;
    }

    .manipulation{
        font-size: 1em;
        min-width: 300px;
    }
}